_flows/pokemon/get_showdowndav_api__put_bronze_bucket.yml
id: get_showdowndav_api__put_bronze_bucket
namespace: pokemon
labels:
    level: subflow
    project: showdown_kpi
    source: showdown_api
    destination: datalake_bronze

inputs:
  - id: object_type
    type: STRING
  - id: datalake_object
    type: STRING
  - id: s3_path
    type: STRING
  - id: release_version
    type: STRING
  - id: source
    type: STRING

tasks:
  - id: download_from_web_api
    type: io.kestra.plugin.core.http.Download
    method: GET
    uri: "http://51.68.229.67:8001/{{ inputs.source }}/{{ inputs.object_type }}"
    sslOptions:
      insecureTrustAllCertificates: true

  - id: evaluate_s3_key
    type: io.kestra.plugin.core.debug.Return
    format: >
      {% if inputs.source == "dav" %}
      {{ inputs.s3_path }}/dav/{{ inputs.release_version }}/{{ inputs.datalake_object }}.json
      {% endif %}
      {% if inputs.source == "smogon" %}
      {{ inputs.s3_path }}/smogon/{{ inputs.datalake_object }}.json
      {% endif %}

  - id: upload_on_bronze_s3_bucket
    type: io.kestra.plugin.aws.s3.Upload
    from: "{{ outputs.download_from_web_api.uri }}"
    accessKeyId: "SCWB3XMCCXHTNQC5KQQH"
    secretKeyId: "{{ secret('SCALEWAY_SECRET_KEY_ID') }}"
    bucket: "sandbox-datalake-bronze"
    key: "{{ outputs.evaluate_s3_key.value | trim }}"
    endpointOverride: "https://s3.fr-par.scw.cloud"
    region: "fr-par"
          