_flows/showdown/update_battlelogs_api.yml
id: update_battlelogs_api
namespace: showdown
description: Extracts battlelogs and updates showdown API

tasks:
  - id: set_current_date
    type: io.kestra.plugin.core.debug.Return
    format: "{{ now() | date('yyyy-MM-dd') }}"

  - id: "extract_battlelogs_by_date"
    type: "io.kestra.plugin.fs.ssh.Command"
    host: 51.68.229.67
    port: "22"
    authMethod: PASSWORD
    username: showdown
    password: "{{ secret('VPS_PASSWORD') }}"
    commands: ["echo '{{ secret('VPS_PASSWORD') }}' | sudo -S python3 /home/showdown/pokemon-showdown-api/data-transform/extract_battlelogs_by_date.py {{ outputs.set_current_date.value }}"]

  - id: "reloadApiService"
    type: "io.kestra.plugin.fs.ssh.Command"
    host: 51.68.229.67
    port: "22"
    authMethod: PASSWORD
    username: showdown
    password: "{{ secret('VPS_PASSWORD') }}"
    commands: ["echo '{{ secret('VPS_PASSWORD') }}' | sudo -S systemctl restart fastapi.service"]